#contenedor{
    width: 90%;
}

#titulo {
    color: black;
    background-color: yellow;
    font-weight: bold;
    width: 370px;
    margin-bottom: 180px;
    margin-left: 500px;
    font-size: 50px;
    border: 3px solid black;
    box-shadow: 24px 15px 18px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 24px 15px 18px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 24px 15px 18px 3px rgba(0, 0, 0, 0.4);
    position: relative;
}


img {
    margin-left: 750px;
    margin-right: 50px;
    border: 7px solid black;
}
#nombre {
    position: relative;
    top: 100px;
    margin-left: 5px;
    color: white;
    font-size: 40px;
    background-color : black;
    width: 270px;
    border: 3px solid cornflowerblue;
    border-right: 7px solid cornflowerblue;
    border-bottom: 6px solid cornflowerblue;
  
}
h2{
    position: relative;
    bottom: 400px;
    font-size: 27px;
    background-color: white;
    width: 360px;
    font-weight: bold;
    text-decoration:underline;
}

h3{
    position: relative;
    bottom: 400px;
    font-size: 17px;
    background-color: white;
    width: 390px;
    font-weight: bold;
}
ol{
    position: relative;
    bottom: 0px;
    font-size: 15px;
    background-color: white;
    width: 350px;
}

li{
    position: relative;
    bottom: 410px;
    font-size: 15px;
    background-color: white;
    width: 350px;
}
p{
    position: relative;
    bottom: 420px;
    font-size: 15px;
    background-color: white;
    width: 900px;
}
h4{
    position: relative;
    bottom: 420px;
    font-size: 16px;
    background-color: white;
    width: 780px;
}